@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
	font-family: "Noto Sans TC";
}

h1 {
  font-family: inherit;
  text-transform: none;
  line-height: 6rem;
}

h2 {
  font-family: inherit;
  text-transform: none;
  line-height: 3.5rem;
}

.subheading {
  font-family: inherit;
  text-transform: none;
  margin-top: 1.35rem;
}

h3 {
  font-family: inherit;
  text-transform: none;
  line-height: 1.75rem;
}

h4 {
  font-family: inherit;
  text-transform: none;
  line-height: 1.5rem;
}

.table td {
width: 22%,28%,22%,28%	
}
